<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpTFafX4_8C0J26TS_ceTxleq8aBcO-XM</string>
	<key>GCM_SENDER_ID</key>
	<string>360177815791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chain.rased</string>
	<key>PROJECT_ID</key>
	<string>rasid-999fc</string>
	<key>STORAGE_BUCKET</key>
	<string>rasid-999fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360177815791:ios:d9db8fa727e53d7ca2cb1a</string>
</dict>
</plist>